<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<h3>Edit Entity</h3>
<form method="post" class="form-horizontal" role="form">
    <input type="hidden" value="<%= entity.id %>" name="id">
	<div class="col-6 mb-3">
		<label for='entity_name' class='form-label'>Entity Name</label>
        <input type="text" name="entity_name" class="form-control" value="<%= entity.entity_name %>">
        <div class="form-text">The name of the device or service</div>
	</div>
    <div class="col-6 mb-3">
		<label for="entity_type" class='form-label'>Entity Type</label>
        <input type="text" name='entity_type' class="form-control" value="<%= entity.entity_type %>">
        <div class="form-text">The type of device or service</div>
	</div>
    <div class="col-6 mb-3">
		<label for="entity_category" class='form-label'>Entity Category</label>
        <input type="text" name='entity_category' class="form-control" value="<%= entity.entity_category %>">
        <div class="form-text">The type of device or service</div>
	</div>
    <div class="col-6 mb-3">
		<label for="entity_backend" class='form-label'>Entity Backend</label>
        <select name="entity_backend" class="form-select">
            <option value="">Select</option>
            <option value="api"<% if (entity.entity_backend == 'api') { %> selected<% } %>>API</option>
            <option value="tasmota_mqtt"<% if (entity.entity_backend == 'tasmota_mqtt') { %> selected<% } %>>Tasmota MQTT</option>
        </select>
        <div class="form-text">How is data for the device or service obtained (API, Tasmota MQTT, etc)</div>
	</div>
	<div class="col-6 mb-3">
		<label for="entity_url" class="form-label">URL (Optional)</label>
        <input type="url" name="entity_url" class="form-control" value="<%= entity.entity_url %>">
        <div class="form-text">A reference URL to the product or service</div>
	</div>
	<div class="col-6 mb-3">
		<label for="entity_image" class="form-label">Image (Optional)</label>
        <input type="text" name="entity_image" class="form-control" placeholder="Image URL" value="<%= entity.entity_image %>">
        <div class="form-text">An absolute or relative URL to a preview image of the device or service</div>
	</div>
	<div class="col-6 mb-3">
		<label for="entity_location" class="form-label">Location (Optional)</label>
        <input type="text" name="entity_location" class="form-control" placeholder="Kitchen" value="<%= entity.entity_location %>">
        <div class="form-text">Where in the house the entity is located</div>
	</div>
	<input type="submit" value="Update Entity &raquo;" class="btn btn-primary">
</form>
