<h3>Edit Entity Credentials</h3>
<form method="post" class="form-horizontal" role="form">
    <input type="hidden" name="id" value="<%= cred.id %>">
    <input type="hidden" name="entity_id" value="<%= cred.entity.id %>">
	<div class="col-6 mb-3">
		<label for='entity_name' class='form-label'>Entity Name</label>
        <input type="text" name="entity_name" class="form-control" value="<%= cred.entity.entity_name %>" disabled>
	</div>
	<div class="col-6 mb-3">
		<label for="key" class="form-label">Key</label>
        <input type="text" name="key" class="form-control" placeholder="key" value="<%= cred.key %>">
	</div>
	<div class="col-6 mb-3">
		<label for="value" class="form-label">Value</label>
        <input type="text" name="value" class="form-control" placeholder="secret" value="<%= cred.value %>">
	</div>
    <br>
	<input type="submit" value="Update Credential &raquo;" class="btn btn-primary">
</form>
