<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<h3>Edit Vehicle</h3>
<form method="post" class="form-horizontal" role="form">
    <input type="hidden" value="<%= vehicle.id %>" name="id">
	<div class="form-group">
		<label for='make' class='control-label col-lg-2'>
			Make
		</label>
		<div class="col-lg-6">
			<input type="text" name="make" class="form-control" value="<%= vehicle.make %>">
		</div>
	</div>
    <div class="form-group">
		<label for="model" class='control-label col-lg-2'>
			Model
        </label>
		<div class="col-lg-6">
			<input type="text" name='model' class="form-control" value="<%= vehicle.model %>">
		</div>
	</div>
    <div class="form-group">
		<label for="variant" class='control-label col-lg-2'>
			Variant
        </label>
		<div class="col-lg-6">
			<input type="text" name='variant' class="form-control" value="<%= vehicle.variant %>">
		</div>
	</div>
    <div class="form-group">
		<label for="imageUrl" class='control-label col-lg-2'>
			Image URL
        </label>
		<div class="col-lg-6">
			<input type="text" name='imageUrl' class="form-control" value="<%= vehicle.imageUrl %>">
		</div>
	</div>
	<div class="form-group">
		<label for="registrationNumber" class="control-label col-lg-2">
			Registration Number
		</label>
		<div class="col-lg-6">
			<input type="text" name="registrationNumber" class="form-control" value="<%= vehicle.registrationNumber %>">
		</div>
	</div>
    <div class="form-group">
		<label for="vin" class="control-label col-lg-2">
			VIN
		</label>
		<div class="col-lg-6">
			<input type="text" name="vin" class="form-control" value="<%= vehicle.vin %>">
		</div>
	</div>
	<div class="form-group">
		<label for="purchasePrice" class="control-label col-lg-2">
			Purchase Price (GBP)
		</label>
		<div class="col-lg-6">
			<input type="number" name="purchasePrice" class="form-control" placeholder="20071" value="<%= vehicle.purchasePrice %>">
		</div>
	</div>
    <div class="form-group">
		<label for="purchaseOdometer" class="control-label col-lg-2">
			Odometer on Purchase
		</label>
		<div class="col-lg-6">
			<input type="number" name="purchaseOdometer" class="form-control" placeholder="0" value="<%= vehicle.purchaseOdometer %>">
		</div>
	</div>
	<div class="form-group">
		<label for="motDate" class="control-label col-lg-2">
			MOT Date
		</label>
		<div class="col-lg-6">
			<input type="date" name="motDate" class="form-control" value="<%= vehicle.motDate %>" pattern="\d{4}-\d{2}-\d{2}">
		</div>
	</div>
	<div class="form-group">
		<label for="serviceDate" class="control-label col-lg-2">
			Service Date
		</label>
		<div class="col-lg-6">
			<input type="date" name="serviceDate" class="form-control" value="<%= vehicle.serviceDate %>" pattern="\d{4}-\d{2}-\d{2}">
		</div>
	</div>
	<div class="form-group">
		<label for="taxDate" class="control-label col-lg-2">
			Tax Date
		</label>
		<div class="col-lg-6">
			<input type="date" name="taxDate" class="form-control" min="2020-01-01" value="<%= vehicle.taxDate %>" pattern="\d{4}-\d{2}-\d{2}">
		</div>
	</div>
	<div class="form-group">
		<label for="dateAcquired" class="control-label col-lg-2">
			Date Acquired
		</label>
		<div class="col-lg-6">
			<input type="date" name="dateAcquired" class="form-control" value="<%= vehicle.dateAcquired %>" pattern="\d{4}-\d{2}-\d{2}">
		</div>
	</div>
    <br>
	<input type="submit" value="Update Vehicle &raquo;" class="btn btn-primary">
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>