<h3>Entities</h3>
<p>An Entity is anything that consumes energy (or produces consumption data) in your home.</p>
<p>Using entities is a flexible way to add data to homeAnalytics from a range of different services such as web APIs and smart devices.</p>
<p><a href="/admin/add-entity" class="btn btn-success">Add new</a></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for (entity of entities) { %>
            <tr>
                <td><a href="/admin/view-entity?id=<%= entity.id %>">
                        <%= entity.name %>
                    </a></td>
                <td>
                    <%= entity.type %>
                </td>
                <td>
                    <a href="/admin/edit-entity?id=<%= entity.id %>" class="btn btn-primary">Edit</a>
                    <a href="/admin/delete-entity?id=<%= entity.id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>