<h3>Entity Details</h3>
<br>
<div class="row">
    <div class="col-md-3">
        <table class="table table-sm">
            <tr>
                <th>Entity Name</th>
                <td>
                    <%= entity.name %>
                </td>
            </tr>
            <tr>
                <th>Entity Type</th>
                <td>
                    <%= entity.type %>
                </td>
            </tr>
            <% if (entity.url) { %>
            <tr>
                <th>Entity URL</th>
                <td>
                    <a href="<%= entity.url %>" target="_blank"><%= entity.url %></a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h5>Credentials</h5>
        <p>Credentials can be any key-value pair that are associated with this entity. Often this is a username/password
            that is then used by the Python scripts in the <code>/app/tasks/</code> folder.</p>
        <p><a href="/admin/add-credentials?id=<%= entity.id %>" class="btn btn-sm btn-success">Add</a></p>
        <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let c of creds) { %>
                    <tr>
                        <td>
                            <%= c.key %>
                        </td>
                        <td>
                            <% if (c.key=='password' ) { %>
                                *****
                                <% } else { %>
                                    <%=c.value%>
                                        <% } %>
                        </td>
                        <td>
                            <a href="/admin/edit-credentials?id=<%= c.id %>" class="btn btn-sm btn-primary">Edit</a>
                            <a href="/admin/delete-credentials?id=<%= c.id %>" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>