<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Devices</h1>
    <a href="/admin/add-entity" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Add Device</a>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let device of devices) { %>
                    <tr>
                        <td>
                            <%= device.entity_name %> <a href="<%= device.entity_url %>" target="_blank"><i
                                        class="fas fa-external-link"></i></a>
                        </td>
                        <td>
                            <%= device.entity_type %>
                        </td>
                        <td>
                            <%= device.entity_category %>
                        </td>
                        <td>
                            <a href="/admin/edit-entity?id=<%= device.id %>" class="btn btn-primary">Edit</a>
                            <a href="/admin/delete-entity?id=<%= device.id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>