<div class="row">
    <div class="col-md-6">
        <h3><%= car.make %> <%= car.model %> <%= car.variant %></h3>
        <br><br>
        <p><span class="material-icons">speed</span> <%= carStatus.odometer.toLocaleString() %> miles</p>
        <p><span class="material-icons">battery_full</span> <%= carStatus.batteryPercent %>%</p>
        <p><span class="material-icons">route</span> <%= carStatus.estimatedRange %> miles</p>
        <% if (car.purchase_odometer) { %>
            <p><span class="material-icons">analytics</span> <b>Miles since purchase:</b> <%= (carStatus.odometer - car.purchase_odometer).toLocaleString() %> miles</p>
            <p><span class="material-icons">analytics</span> <b>Avg miles per month:</b> <%= ((carStatus.odometer - car.purchase_odometer) / monthsOwned["months"]).toFixed(2).toLocaleString() %> miles</p>
        <% } %> 
        <% if (car.service_date) { %>
            <p><span class="material-icons">event</span> <b>Next Service:</b> <%= car.service_date %></p>
        <% } %>
        <% if (car.mot_date) { %>
            <p><span class="material-icons">event</span> <b>Next MOT:</b> <%= car.mot_date %></p>
        <% } %>
        <% if (car.tax_date) { %>
            <p><span class="material-icons">event</span> <b>Next Tax:</b> <%= car.tax_date %></p>
        <% } %>
    </div>
    <div class="col-md-6">
        <img src="<%= car.image_url %>" style="max-width:500px;">
        <div><span class="reg-plate"><%= car.registration_number %></span></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Trips</h3>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <th>Date</th>
                <th>Odometer (mi)</th>
                <th>Distance Travelled (mi)</th>
            </thead>
            <tbody>
                <% for (let trip of carTrips) { %>
                    <tr>
                        <td><%= trip.datetime %></td>
                        <td style="text-align:right;"><%= trip.odometer.toLocaleString() %></td>
                        <td style="text-align:right;"><%= trip.distance_travelled %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <% if (car.battery_size > 0) { %>
            <h3>Estimated Efficiency</h3>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <th>Date</th>
                    <th>Distance Travelled (mi)</th>
                    <th>Miles per kWh</th>
                </thead>
                <tbody>
                    <% for (let trip of carEfficiency) { %>
                        <tr>
                            <td><%= trip.datetime %></td>
                            <td style="text-align:right;"><%= trip.distance_travelled.toLocaleString() %></td>
                            <td style="text-align:right;"><%= trip.mpkwh %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else { %>
            <br><br>
            <div class="alert alert-primary" role="alert">
                Add your car's <a href="/admin/edit-vehicle?id=<%= car.id %>">battery capacity</a> to see estimated efficiency stats here
            </div>
            <% } %>
    </div>
</div>