<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Garage</h1>
</div>

<div class="row">
<% for (let car of cars) { %>
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><%= car.make %> <%= car.model %></h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="<%= car.imageUrl %>" class="card-image-top" style="max-width:200px;">
                    </div>
                    <div class="col-lg-6">
                        <p><span class="material-icons">speed</span> <%= car.odometer.toLocaleString() %> miles</p>
                        <p><span class="material-icons">battery_full</span> <%= car.batteryPercent %>%</p>
                        <p><span class="material-icons">route</span> <%= car.estimatedRange %> miles</p>
                        <a href="/garage/car?id=<%=car.id%>" class="btn btn-primary stretched-link">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>
</div>
<% if (carEfficiency.length > 0) { %>
    <hr>
<div class="row">
    <div class="col-md-12">
        <h3>Efficiency Stats - Last Month</h3>
        <div class="row">
            <div class="col-md-4"><div id="sumMiles"></div></div>
            <div class="col-md-4"><div id="avgEffic"></div></div>
            <div class="col-md-4"><div id="kwhUsed"></div></div>
            <div class="col-md-4"><div id="kwhCharged"></div></div>
            <div class="col-md-4"><div id="kwhCost"></div></div>
            <div class="col-md-4"><div id="costPerMile"></div></div>
        </div>
        <p>The chart below shows the distance travelled and efficiency gained by the cars in your garage</p>
        <div id="carEfficiency"></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Miles Driven</th>
                            <th>kWh Used</th>
                            <th>Miles / kWh</th>
                        </tr>
                    </thead>
                    <tbody id="carPerformance"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    <% let sumMiles = 0;
        let sumKwh = 0;
        let carSplit = {};
    %>
    function loadChart() {
        let dataSeries = [];
        
dataSeries.push(
    <% if (carEfficiency && carEfficiency.length > 0) { 
        console.log(carEfficiency); %>
        <% for (const car of carEfficiency) { 
            let carMiles = 0;
            let dataPoints = [];
            if (car.length > 0 ) {
        %>
            <% for (const dt of car) { 
                sumMiles += dt["distance_travelled"]; 
                carMiles += dt["distance_travelled"]; 
                dataPoints.push(`[Date.UTC(${dt["jsYear"]}, ${dt["jsMonth"]}, ${dt["jsDay"]}), ${dt["distance_travelled"]}]`);
            } %>
            {
                name: '<%= car[0]["carName"] %>',
                type: 'column',
                stacking: 'normal',
                data: [ <%= dataPoints.join(", ") %> ]
            },
        <% carSplit[car[0]["carName"]] = {"miles": carMiles};
            }
        } %>
    <% } else { %>
        // Handle empty carEfficiency array here if needed
    <% } %>
);

        dataSeries.push(
            <% for ( let car of carEfficiency) {
                let carKwh = 0;
                if (car.length > 0) {
            %>
                {
                    name: '<%= car[0]["carName"] %>',
                    type: 'spline',
                    yAxis:1,
                    data: [ <% for (let dt of car) { sumKwh += dt["kwh_used"]; carKwh += dt["kwh_used"] %>[Date.UTC(<%= dt["jsYear"] %>, <%= dt["jsMonth"] %>, <%= dt["jsDay"] %>), <%= dt["mpkwh"] %>],<% } %> ]
                },
                <% carSplit[car[0]["carName"]]["kwh"] = carKwh;
            }
            } %>
        );

        let usageMain = Highcharts.chart({
            chart: {
                renderTo: 'carEfficiency',
            },
            credits: false,
            title: {
                text: "",
            },
            legend: {
                itemStyle: {
                    fontWeight: 'normal',
                    fontSize: '14px',
                    align: 'right'
                }
            },
            xAxis : {
                title: {
                    text: "Day",
                },
                labels: {
                },
                type: 'datetime',
                ordinal: false,
            },
            yAxis : [{
                title: {
                    text: "Miles Travelled",
                },
                labels: {
                    format: '{value} miles',
                },
                gridLineWidth: 0,
            },{
                title: {
                    text: "Efficiency",
                },
                labels: {
                    format: '{value} mi/kWh',
                },
                opposite: true,
            }],
            series: dataSeries
        });
        let sumMiles = <%= sumMiles %>;
        let sumKwh = <%= sumKwh %>;
        let avgMpKwh = sumMiles / sumKwh;
        $('#sumMiles').html(`<div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Miles Driven</div>
            <div class="card-body">
                <h5 class="card-title">${sumMiles}</h5>
            </div>
        </div>`);
        $('#avgEffic').html(`<div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Avg miles / kWh</div>
            <div class="card-body">
                <h5 class="card-title">${ avgMpKwh.toFixed(2) }</h5>
            </div>
        </div>`);
        $('#kwhUsed').html(`<div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">kWh Used</div>
            <div class="card-body">
                <h5 class="card-title">${ sumKwh.toFixed(2) }</h5>
            </div>
        </div>`);
        <% for (let car in carSplit) { %>
            $('#carPerformance').append(`<tr>
                <th><%= car %></th>
                <td><%= carSplit[car]["miles"] %> miles</td>
                <td><%= carSplit[car]["kwh"].toFixed(2) %></td>
                <td><%= (carSplit[car]["miles"] / carSplit[car]["kwh"]).toFixed(2) %></td>
                </tr>`);
        <% } %>
        chargeStats(sumKwh, sumMiles, avgMpKwh);
    }
    
    function chargeStats(sumKwh, sumMiles, avgMpKwh) {
        let chargingCost = 0;
        let chargingKwh = 0;
        $.ajax({
            url: '/api/usage/vehicles',
            type: "GET",
            data : {
                start: '<%= dates["minus1mStart"] %>',
                end: '<%= dates["minus1mEnd"] %>',
                unit: 'month',
            },
            dataType: "json",
            success: function(res) {
                chargingCost = res["totals"]["cost"];
                chargingKwh = res["totals"]["kwh"];
                $('#kwhCharged').html(`<div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">kWh Charged</div>
                    <div class="card-body">
                        <h5 class="card-title">${ chargingKwh }</h5>
                    </div>
                </div>`);
                $('#kwhCost').html(`<div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Total Cost</div>
                    <div class="card-body">
                        <h5 class="card-title">£${ chargingCost }</h5>
                    </div>
                </div>`);
                $('#costPerMile').html(`<div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Cost per Mile</div>
                    <div class="card-body">
                        <h5 class="card-title">£${ ((sumKwh * (chargingCost / chargingKwh) ) / sumMiles).toFixed(2) }</h5>
                    </div>
                </div>`);
            }
        });
    }

    loadChart();
});
</script>
<% } %>