<div id="piCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" id="piInnerCarousel">
        <%- include('carousel/solar') %>
        <%- include('carousel/usage-today') %>
        <%- include('carousel/usage-today-v2') %>
        <%- include('carousel/mtd') %>
        <%- include('carousel/next-bill') %>
        <%- include('carousel/usage-yesterday') %>
        <%- include('carousel/usage-last7days') %>
        <%#- include('carousel/usage-last30days') %>
        <%- include('carousel/usage-last7days-daily') %>
        <%- include('carousel/car-charging-3months') %>
        <%#- include('carousel/carbon-intensity') %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#piCarousel" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#piCarousel" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script>
    $(document).ready(function () {
        loadCarStatus();
    });
</script>